.navbar {
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 50;
  }
  
  .navbar__logo h2 {
    color: #f4f4f4;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .navbar__links {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar__links > li {
    padding-left: 1.5rem;
  }
  
  .navbar__links > li > a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  .navbar__links > li >a >span:hover {

    border-bottom:2px solid #ff2a54
  }
  
  .navbar__links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
  
  .cart__link {
    background: #333;
    padding: 10px;
    border-radius: 8px;
  }
  
  .cart__link:hover {
    background: #ff2a54!important;
    color: #f4f4f4;
  }
  
  .cartlogo__badge {
    width: 30px;
    height: 30px;
    background-color: #f4f4f4;
    border-radius: 50%;
    margin-left: 8px;
    color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .hamburger__menu {
    display: none;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .hamburger__menu:hover > div {
    background: #ff2a54!important;
  }
  
  .hamburger__menu > div {
    width: 100%;
    height: 3px;
    background: #f4f4f4;
  }
  
  @media (max-width: 960px) {
    .navbar__links {
      display: none;
    }
  
    .hamburger__menu {
      display: flex;
    }
  }
  
  @media (max-width: 500px) {
    .navbar__logo h2 {
      font-size: 1rem;
    }
  }
  

.app{
    font-family: 'Roboto', sans-serif!important;
  }
  
  .container-fluid .logo img {
    width: 13vw;
  }
  
  .card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: cover;
  }
  
  .w-100 {
    width: 100%!important;
    height: 575px;
  }
  
  .btn-primary {
    margin-right: 25px;
  }

  
.cart__counter {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-top: 2px;
  padding:2px;
  border: 1px solid #333333;
  border-radius: 50%;
  color: #000000;
  background: #eeeeee;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

